{% extends "base.html" %}
{% block title %}Leaderboard{% endblock %}
{% block content %}

<h2>🏆 Leaderboard</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Credits</th>
        </tr>
    </thead>
    <tbody>
        {% for player in leaderboard %}
        <tr>
            <td>{{ player.p_rank }}</td>
            <td>{{ player.firstname }} {{ player.lastname }}</td>
            <td>{{ player.credits }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="mt-3">
    <a href="{{ url_for('dashboard') }}" class="btn btn-secondary mt-3">Back to Dashboard</a>
</div>
{% endblock %}
